@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus{
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#skip{
  position: absolute;
  width: 20em;
  -webkit-transform: translate(-200em, 0);
  transform: translate(-200em, 0);
  transition: transform 0.5s ease;
}
#skip:focus {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 5em;
  background-color: #252831;
  text-align: center;
  padding-top: 2em;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  padding-top: 2em;
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 0;
    list-style: none;
    background-color: #eee;
    font-weight: bold;
    margin: 0;
    display: inline-block;
    display: table;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    display: table-cell;
    padding: 1em 3em 1em;
    text-align: center;
}
#breadcrumb li:hover,
#breadcrumb li:focus {
    background-color: #252831;
    color: #fff
}
#breadcrumb li a {
    color: black;
    text-decoration: none;
    display: block;
    min-width: 100%;
    min-height: 100%;
}
#breadcrumb li:hover a{
  color: #fff;
}
#breadcrumb li a:focus{
    background-color: #252831;
    color: #fff
}
#breadcrumb #break{
  padding: 0 0.2em 0;
}
#breadcrumb #break:hover,
#breadcrumb #break{
   background-color: inherit;
   color: inherit;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #252831;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 20px;
  padding: 0.5em 0 0 0;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 14px;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(125,125,125,1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(125,125,125,1);
  box-shadow: 1px 1px 3px 0px rgba(125,125,125,1);
}
.filter-options select:focus{
  -webkit-box-shadow: 3px 3px 5px 0px rgba(82,0,0,1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(82,0,0,1);
  box-shadow: 3px 3px 5px 0px rgba(82,0,0,1);
}

/*The code below doesnt work*/
/*.filter-options select:hover,
.filter-options select:focus,
.filter-options select:active,
{
  outline: solid;
  outline-color: #3397db;
}*/

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0 0 3em 0;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;

}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
  box-sizing: border-box;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:hover,
#restaurants-list li a:focus{
  -webkit-box-shadow: 3px 3px 5px 0px rgba(104,104,107,1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(104,104,107,1);
  box-shadow: 3px 3px 5px 0px rgba(104,104,107,1);
  border: none;
}
/* ====================== Restaurant Details ====================== */
.inside nav{
  display: initial;
  padding: 0;
  margin: 0;
}
.inside nav h1{
  display: block;
  width: 100%;
  height: 5em;
  background-color: #252831;
  text-align: center;
  box-sizing: border-box;
  padding-top: 1.5em;
}

#container{
  background-color: #f3f3f3;
  min-height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;

}
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside hr{
  width: 5em;
  margin: 0;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  padding-top: 1em;
  height: 88%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
  box-sizing: border-box;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 16px;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #252831;
  color: #fff;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
  box-sizing: border-box;
}
#content{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  box-sizing: border-box;
  padding: 12em 5% 0 5%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
  text-align: left;
}
#restaurant-container img{
  width: 100%;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0 0 5em 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0.3em 0 0.2em;
  font-weight: bold;
}
#reviews-list li p:nth-of-type(1){
  margin-top: 1em;
}
#reviews-list li p:nth-of-type(4){
  font-weight: normal;
  margin-top: 1em;
}
#restaurant-hours td {
  color: #252831;
  font-size: 14px;
}

#form-container {
	padding-bottom: 18%;
	width: 100%;
	box-sizing: border-box;
}
#form-container h2 {
	color: #f58500;
	font-size: 20pt;
	font-weight: 300;
	letter-spacing: -1px;
	padding-bottom: 1pt;
}
form {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
}

#form-container label {
	order: 1;
	width: 10%;
}

#form-container input {
	order: 2;
	width: 50%;
	margin-right: 5%;
	margin-bottom: 2%;
}

#rating {
	order: 3;
}

#review-comment {
	order: 5;
	width: 100%;
}

#review-comment textarea {
	width: 80%;
	min-height: 100px;
	margin: 0 auto;
}

.submit-button {
	order: 6;
	background-color: orange;
	border-bottom: 3px solid transparent;
	color: #fff;
	display: inline-block;
	font-size: 10pt;
	margin: 15px 0 0;
	padding: 7px 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.submit-button:hover,
.submit-button:focus{
  -webkit-box-shadow: 3px 3px 5px 0px rgba(104,104,107,1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(104,104,107,1);
  box-shadow: 3px 3px 5px 0px rgba(104,104,107,1);
}
/* ====================== Media Queries index.html====================== */
@media only screen and (min-width: 1200px){
  #restaurants-list li{
    width: 30%;
    margin: 3% 0 0 2.5%;
  }
  .filter-options select {
    width: 15%;
    margin: 0.5% 0 0 1%;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px){
  #restaurants-list li{
    width: 41%;
    margin: 3.5% 0 0 6%;
  }
  .filter-options select {
    width: 20%;
    margin: 0.7% 0 0 1%;
  }
}
@media only screen and (min-width: 815px) and (max-width: 899px){
  #restaurants-list li{
    width: 44%;
    margin: 4% 0 0 4%;
  }
  .filter-options select {
    width: 20%;
    margin: 0.7% 0 0 1%;
  }
}
@media only screen and (min-width: 750px) and (max-width: 814px){
  #restaurants-list li{
    width: 48.5%;
    margin: 4.5% 0 0 1%;
  }
  .filter-options select {
    width: 25%;
    margin: 0.8% 0 0 1%;
  }
}
@media only screen and (max-width: 749px){
  #restaurants-list li{
    width: 76%;
    margin: 8% 0 0 12%;
  }
  .filter-options select {
    width: 35%;
    margin: 1.5% 0 0 1%;
  }
  nav h1 a {
    font-size: 1em;
  }
}
@media only screen and (max-width: 520px){
    #restaurants-list li{
    width: 82%;
    margin: 10% 0 0 9%;
  }
}
@media only screen and (max-width: 463px){
  .filter-options select {
    font-size: 11px;
    width: 42%;
    margin: 3% 0 0 6%;
  }
  nav h1 a {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 390px){
    #restaurants-list li{
    width: 88%;
    margin: 10% 0 0 6%;
  }
}


/* ====================== Media Queries restaurant.html====================== */

@media only screen and (max-width: 899px){
  #container {
    min-width: 100%;
    flex-direction: column;
  }
  #content{
    width: 100%;
    order: 1;
    min-height: 100%;
    padding-bottom: 36em;
  }
  .inside #map-container {
  background: blue none repeat scroll 0 0;
  order: 3;
  max-height: 30%;
  position: initial;
  width: 100%;
  flex: 1;
  }
  .inside #map{
    margin: 28em 0 5em;
    position: absolute !important;
    max-height: 20% !important;
    bottom: 0;
  }
  .inside #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    order: 5;
  }
  #restaurant-container, #reviews-container {
    width: 70%;
    margin: 0 15% 0;
  }
}
@media only screen and (max-width: 650px){
  #restaurant-container, #reviews-container {
    width: 80%;
    margin: 0 10% 0;
  }
  #restaurant-hours td {
  color: #252831;
  font-size: 13px;
  }
  #breadcrumb li {
  font-size: 9pt;
  }
}
@media only screen and (max-width: 450px){
  #breadcrumb li {
  font-size: 8pt;
  }
}
@media only screen and (max-width: 1100px){
	#form-container {
		padding-bottom: 25% !important;
	}
}
@media only screen and (max-width: 730px){
	#form-container {
		padding-bottom: 28% !important;
	}
}
@media only screen and (max-width: 630px){
	#form-container {
		padding-bottom: 30% !important;
	}
}
@media only screen and (max-width: 550px){
	#form-container {
		padding-bottom: 35% !important;
	}
}
@media only screen and (max-width: 500px){
	#form-container {
		padding-bottom: 40% !important;
	}
}
@media only screen and (max-width: 450px){
	#form-container {
		padding-bottom: 60% !important;
	}
}
